<div class="modal-content">
  <div class="modal-header">
    <h1>{{ todoItem.title }} Todo</h1>
  </div>
  <div class="modal-body">
    <div class="todo-list">
      <div class="item" *ngFor="let item of todoItem.items">
        {{ item.text }}
      </div>
    </div>
    <div class="add-new-todo" (click)="addNewTodo()">
      Add new task +
    </div>
    <div class="buttons">
      <div class="button save" (click)="save()">Save</div>
      <div class="button cancel" (click)="close()">Cancel</div>
    </div>
  </div>
</div>

