@import "../../../../../assets/styles/colors";

.todo {
  .title {
    text-align: center;
  }
  .content {
    display: flex;
    .todo-card {
      cursor: pointer;
      margin: 10px;
      height: 300px;
      width: 300px;
      background-color: $lite-gray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
